@import "tailwindcss";

@theme {
  --font-display: "Anton", sans-serif;
  --font-body: "Montserrat", sans-serif;
  
  --color-mou-black: #0a0a0a;
  --color-mou-dark: #121212;
  --color-mou-concrete: #d1d5db;
  --color-mou-red: #ff4500;
  --color-mou-gold: #fbbf24;
}

@layer utilities {
  .bg-grunge {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
  }
  
  .clip-torn-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 95% 100%, 90% 96%, 85% 100%, 80% 95%, 75% 100%, 70% 96%, 65% 100%, 60% 95%, 55% 100%, 50% 96%, 45% 100%, 40% 95%, 35% 100%, 30% 96%, 25% 100%, 20% 95%, 15% 100%, 10% 96%, 5% 100%, 0 95%);
  }
}
